
@{
    ViewData["Title"] = "SignUp";
}

    <div class="registerBox">
        <img src="~/img/userFinal.png" class="avatar" alt="" />
        <form method="POST" enctype="multipart/form-data" asp-controller="Authentication" asp-action="SignUp">
            <input type="text" name="username" placeholder="Username.." />

            <input type="email" name="email" placeholder="E-mail.." />

            <input type="password"
                   name="password"
                   id=""
                   placeholder="Password.." />

            <input type="password"
                   name="passwordConfirmation"
                   id=""
                   placeholder="Confirm the password.." />

            <input type="submit" name="register" value="Register" />
            <p><a href="/todo/signin">Already have an account?</a></p>
        </form>
    </div>

