@{
    ViewData["Title"] = "Home Page";
}


<div class="headerTitle">
    <div class="title">
        To-Do
    </div>
</div>

<div class="main">
    <div class="mainText">
        <p class="welcome">Welcome to our To-Do app!</p>
        <p>Let's get started! <a href="todo/signup">Sign up</a></p>
        <p>Already have an account? <a href="todo/signin">Sign in</a></p>
        <p>Admin <a href="todo/adminsignin">Sign in</a></p>

    </div>

    <div class="logo">
        <p>Donate, we are hungry</p>
        <button type="button" class="donateBtn">Donate</button>
    </div>

    <div class="footerTitle">
        <div class="text">
            Copyright
        </div>
    </div>
</div>